
.header {
  margin: 3em;
  display: flex;
  flex: 1 2 auto ;
  width: 80%;
  flex-wrap: wrap;
}

.header .brand {
  font-family: 'Playfair Display', sans-serif;
  text-decoration: none;
  color: black;
  margin-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
}



.header .tabs {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  align-items: center;
  justify-content: flex-end;
  width: 60%;
  padding-left: 4em;
  flex: 0 2 auto;
}

.header .tabs .tab-name {
  width: 5em;
  text-decoration: none;
  color: black;
}

.header .shopping-cart {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-items: center;
  justify-content: flex-end;
}

.header .shopping-cart img {
  width: 2em;
  height: 2em;
  padding-top: 1em;
  justify-content: flex-end;
}

.cart-number {
  padding-left: 1px;
}