
.app-content {
  font-family: 'Poppins', sans-serif;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 5em 3em 10em 3em;
  color: #1A244E;

}

.product-boxes {
  display: flex;
  flex-direction: column;
  margin: 7px;
  align-items: center;
}

.product-photo {
  margin: 5px;
  height: 200px;
  width: 150px;
}

.home-product-details {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: .5em;
  padding: 1em 0;
}

.home-product-name {
  font-size: 1em;
}

.home-product-price {
  font-size: .8em;
}

.coming-soon {
  margin: 12em 0;
}

.coming-soon a {
  color:black ;
}

.product-link {
	/* width: 33.3%; */
	color: #1A244E;
	text-decoration: none;
	font-weight: bolder;
}
@media screen and (min-width: 768px) {

  .app-content {
    width: 70%;
    flex-wrap: wrap;
    margin: 10em ;
  }

  .product-photo {
    margin: 5px;
    height: 400px;
    width: 300px;
  }
}