.success-page-container {
	padding: 2em;
	width: 50%;
	margin: 10em 0;
	padding: 5em;
	text-align: center;
	border: 1px solid grey;
	font-family: "Poppins", sans-serif;
}

.checked-circle {
	height: 7em;
	margin: 1em;
}

.order-confirmed {
	font-size: 3em;
	font-weight: bold;
}

.shipping-reminder {
	font-size: 1.1em;
}

@media screen and (min-width: 768px) {
	.success-page-container {
		display: flex;
		flex-direction: column;
		margin: 15em 0;
		padding: 5em;
		gap: 1.5em;
	}

	.checked-circle {
		height: 7em;
		width: 7em;
		margin: 1em auto;
	}
}