.menu-toggle {
    position: fixed;
    margin: 1.5rem;
    z-index: 11;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.hero {
    background: url(../assets/hero_image.png) no-repeat fixed center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    color: rgba(255, 255, 255, .6);
    font-size: 5rem;
    font-weight: 400;
    text-shadow: 1px 1px 2px #525998;
}

.about {
    padding: 4rem 2rem;
    text-align: center;
    line-height: 1.4;
    background-color: #525998;
    color: rgba(255, 255, 255, .8);
    font-size: min(5vw, 25px);
}

.feature-container {
    position: relative;
}
.feature-image {
    position: relative;
    height: 80vh;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../Data/hope-store-photos/top-cardigan-annetaylor-1.jpg) no-repeat center center;
    background-size: cover;
    background-position: top center;
}


.texts {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1.5rem;
    color: #1A244E;
}

.texts p:first-child {
    font-size: min(6vw, 30px);
}

.texts p {
    font-size: min(3vw, 18px);
}

.texts p > a {
    color: #1A244E;
}

/* favorites container */

.favorite-pieces {
    position: relative;
    color: #1A244E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-text-positioning {
    text-align:center;
    color: #1A244E;
    margin-top: 0;
    font-size: min(5vw, 25px);
}

.favorites-container {
    text-align: center;
    padding: 4rem 2rem;
    margin: 1rem 0 5rem;
}
.slide-container {
    margin: 5rem 0 4rem;
    color: #1A244E;
}

.favorite-button {
    background-color: #525998;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
}

.favorites {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.favorite-image {
    max-width: 70%;
    height: 200px
}

.slider-image-container {
    width: 50%;
    margin: 0 auto;
    height: 50vw;
    overflow: hidden;
}

.slider-image-container img {
    max-width: 100%;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.main-header {
    animation: fadeIn 0.5s;
    position: fixed;
    background: rgb(181 185 200 / 90%);
    width: 100%;
    border-radius: 6px;
    z-index: 10;
}

.main-header .main-header-navigation{ 
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    font-size: x-large;
}

.main-header-navigation a {
    padding: 2rem;
    text-decoration: none;
    color: #525998;
    text-align: center;
}


/* Desktop media queries */

@media (min-width:1025px) {

    /* Feature CSS */
    .feature-container {
        display: flex;
        height: 100vh;
    }
    .feature-container .texts {
        width: 30%;
        position: inherit;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #B1B5D8;
        margin: 0;
        padding: 1.5rem;
        color: #1A244E;
    }
    .feature-container .feature-image {
        width: 70%;
        background-position: center center;
        height: auto;
    }

    .texts p:first-child {
        font-size: 1.6rem;
    }
    
    .texts p {
        font-size: 1rem;
    }

    /* Favorite Slider CSS */


    .favorite-desktop {
        display: flex;
        flex-direction: row;
        margin-bottom: 
    }
    .favorite-desktop .slider-image-container {
        height: 34vw;
        width: 80%;
    }

    .favorites-container {
        margin: 2rem 0 7rem;
    }

    /* About */
    .about {
        padding: 5rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
    }

    .about-content {
        max-width: 40%;
    }
}