.footer {
	background-color: #525998;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: .5em;
	position: absolute;
	bottom: 0; */
	margin: 20em 3em 0 3em;
	width: 100%;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin: 1rem;
}

.footer-content > div {
	margin-bottom: 2rem;
	text-align: center;
}

.footer-header {
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

.contact-details {
	line-height: .5rem;
}

.quick-links {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.footer-links {
	display: flex;
	flex-direction: column;
}

.footer-links a {
	color: #fff;
	margin-bottom: .2rem;
}


.acknowledgement {
	display: none;
}

.website-info {
	width: 60%;
	text-align: center;
	margin-top: 2rem;
}

.website-info > p{
	font-size: .8rem;
}

.footer-footer {
	margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
	.footer-content {
		display: flex;
		flex-direction: row;
		width: 60%;
	}

	.footer-header {
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	.contact-container {
		text-align: left;
	}

	.acknowledgement {
		display: block;
		color: #fff;
	}

	.acknowledgement a{
		color: #fff;
	}
}