.checkout-page-container {
	border: 1px solid black;
	width: auto;
	padding: 2em;
	margin: 10em 2em;
	font-family: "Poppins", sans-serif;
}

/*Purchased Items Container Component*/

.purchased-items-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid lightgrey;
}

.product-image-container {
	width: 30%;

}

.product-image-container img{
	width: 5em;
	height: 5em;

}

.checkout-details-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	font-size: 1em;
	gap: 1em;
}

.name {
	font-weight: bold;
}

.price {
	width: 20%;
	align-items: center;
	padding-left: .5em;
}

/*Discount Code Component*/

.discount-code-container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	height: 1.5em;
	padding: 3em 1em;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.code-disclaimer-container {
	margin-right: 2em;
	width: 70%;
}

.discount-code-container .discount-form {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.discount-code-container .code-disclaimer-container label {
	font-size: .8em;
	margin: 0;
    width: max-content;
}

.discount-code-container .code-disclaimer-container input {
	width: 100%;
	margin-top: .5em;
}

.discount-code-container .code-disclaimer-container p {
	font-size: .8em;
	margin: 0;
    width: max-content;
}

.apply-code {
	height: 1.5em;
	font-size: 1em;
}

/*Calculations Container Component*/

.calculations-container {
	margin: 2em auto;
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 70%;
}

.calculations-container .subtotal {
	display: flex;
	justify-content: space-between;
}
.calculations-container .taxes {
	display: flex;
	justify-content: space-between;
}
.calculations-container .shipping-fee {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid grey;
}
.calculations-container .total {
	display: flex;
	justify-content: space-between;
}

.place-order {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.checkout-page-container {
		border: 1px solid black;
		width: auto;
		padding: 2em;
		margin: 12em 0;
	}

	.checkout-details-container {
		gap: 1.5em;
	}
}