
.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  position: relative;
}

.App button:hover {
  cursor: pointer;
}

.App button {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  height: 2em;
}