@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Playfair+Display&display=swap');
@import './Home/styles/index.css';
@import './Header/styles/index.css';
.App {
  margin: 50px 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
